<!DOCTYPE html>
<html>
<head>
    <title>Display JSON Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Handle collapse behavior
            $('.card a[data-toggle="collapse"]').on('click', function () {
                // Close all open elements
                $('.collapse.show').collapse('hide');
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dataset">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/talents">Talents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weapons">Weapons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spells">Spells</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link" >Currently: Spells</p>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
            <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
            </div>
        </div>
        {% for spell in spells %}
            <div class="card mt-4">
                <div class="card-body">
                    <a data-toggle="collapse" href="#spellCollapse{{ loop.index }}" role="button" aria-expanded="false" aria-controls="spellCollapse{{ loop.index }}">
                        <h4 class="card-title">Name: {{ spell.name }}</h4>
                        <p class="card-text"><strong>CN:</strong> {{ spell.cn }}</p>
                        <p class="card-text"><strong>Range:</strong> {{ spell.range }}</p>
                        <p class="card-text"><strong>Target:</strong> {{ spell.target }}</p>
                        <p class="card-text"><strong>Duration:</strong> {{ spell.duration }}</p>
                        <p class="card-text"><strong>Type:</strong> {{ spell.type }}</p>
                    </a>
                    <div class="collapse" id="spellCollapse{{ loop.index }}">
                        <h2 class="mt-4">Description:</h2>
                        <p class="card-text">{{ spell.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        const spells = {{ spells | tojson | safe }};
        const container = $(".container");

        function filterAndShowHideClasses() {
            const searchValue = $("#searchInput").val().toLowerCase();

            container.find(".card").each(function () {
                const talent = $(this);
                const talentText = talent.text().toLowerCase();

                if (talentText.includes(searchValue)) {
                    talent.show();
                } else {
                    talent.hide();
                }
            });
        }

        $("#searchButton").click(filterAndShowHideClasses);
        $("#searchInput").on("input", filterAndShowHideClasses);

        // Initial rendering
        filterAndShowHideClasses();
    </script>
</body>
</html>
