<!DOCTYPE html>
<html>
<head>
    <title>Display JSON Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dataset">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/talents">Talents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weapons">Weapons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spells">Spells</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link" >Currently: Weapons</p>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
            <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
            </div>
        </div>
    {% for weapon in weapons %}
        <div class="card mt-4">
            <div class="card-body">
                <a data-toggle="collapse" href="#weaponCollapse{{ loop.index }}" role="button" aria-expanded="false" aria-controls="weaponCollapse{{ loop.index }}">
                    <h4 class="card-title">Category: {{ weapon.category }}</h4>
                    <p class="card-text"><strong>Subcategory:</strong> {{ weapon.subcategory }}</p>
                    <p class="card-text"><strong>Weapon Name:</strong> {{ weapon.weapon_name }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ weapon.price }}</p>
                    <p class="card-text"><strong>Weight:</strong> {{ weapon.weight }}</p>
                    <p class="card-text"><strong>Accessibility:</strong> {{ weapon.accessibility }}</p>
                    <p class="card-text"><strong>Weapon Range:</strong> {{ weapon.weapon_range }}</p>
                    <p class="card-text"><strong>Damage:</strong> {{ weapon.damage }}</p>
                </a>
                <div class="collapse" id="weaponCollapse{{ loop.index }}">
                    <h2 class="mt-4">Pros and Cons:</h2>
                    <ul class="list-group">
                        {% for item in weapon.pros_and_cons %}
                        <li class="list-group-item">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <script>
        const weapons = {{ weapons | tojson | safe }};
        const container = $(".container");

        function filterAndShowHideClasses() {
            const searchValue = $("#searchInput").val().toLowerCase();

            container.find(".card").each(function () {
                const talent = $(this);
                const talentText = talent.text().toLowerCase();

                if (talentText.includes(searchValue)) {
                    talent.show();
                } else {
                    talent.hide();
                }
            });
        }

        $("#searchButton").click(filterAndShowHideClasses);
        $("#searchInput").on("input", filterAndShowHideClasses);

        // Initial rendering
        filterAndShowHideClasses();
    </script>
</body>
</html>
